# FEATURE ENGINEERING 05

________________________________________________________________________________________

# Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [6]:
#Creating a dataset as given data
import pandas as pd
df=pd.DataFrame({'study_time': [12,4,7,9,3,2,6], 'final_exam_score':[96,50,72,88,23,18,66]})

#there is a funnction in pandas, for finding the pearson correlation between two variables

df.corr(method= 'pearson')

                  study_time  final_exam_score
study_time          1.000000          0.955008
final_exam_score    0.955008          1.000000

# Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

In [13]:
# Creating data set according to the given information

import pandas as pd
df= pd.DataFrame({'amount_of_sleep': [8,10,6,7,9,4,5], 'job_satisfaction':[9,3,8,7,2,4,1]})

#there is a funnction in pandas, for finding the spearman correlation between two variables
df.corr(method= 'spearman')

                  amount_of_sleep  job_satisfaction
amount_of_sleep               1.0               0.0
job_satisfaction              0.0               1.0

#   Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

In [28]:
data= {'number_of_hours_of_exercise' :[24,14,21,10,16,18,28,12,22,12,23,33,12,16,18,14,7,9,12,15,12,34,12,3,33,23,12,15,
                                23,17,18,19,12,13,14,16,17,23,12,23,22,11,10,13,22,14,17,10,11,11], 
'BMI':[50,55,33,46,43,89,98,76,45,56,47,48,49,56,43,56,78,78,90,100,44,56,89,98,76,78,79,97,76,56,58,97,96,90,88,23,66,
       33,56,88,89,45,67,69,55,89,88,99,45,56]}

# making the dataframe of giving data by the help of pandas libraray.

import pandas as pd
df=pd.DataFrame(data)

#calculating the pearson correlation cofficient

print('it is pearson correlation between number of hours of excersie per week vs BMI BODY mass index')

df.corr(method= 'pearson')

it is pearson correlation between number of hours of excersie per week vs BMI BODY mass index

                             number_of_hours_of_exercise       BMI
number_of_hours_of_exercise                     1.000000 -0.156514
BMI                                            -0.156514  1.000000

In [29]:
#calculating the spearman correlation 
df.corr(method= 'spearman')

                             number_of_hours_of_exercise       BMI
number_of_hours_of_exercise                     1.000000 -0.144111
BMI                                            -0.144111  1.000000

# A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:

In [34]:
import pandas as pd
df=pd.DataFrame({'age': [25,42,37,19,31,28] ,
                 'Soft_drink_preference': ['cock','pepsi','mountain dew', 'cock', 'pepsi', 'cock']})
df

   age Soft_drink_preference
0   25                  cock
1   42                 pepsi
2   37          mountain dew
3   19                  cock
4   31                 pepsi
5   28                  cock

In [46]:
# for examine the relationship between both of them we need to use a data encodng method,and target guided encoding is the 
#  best way to treat such type of opreations

mean=df.groupby('Soft_drink_preference')['age'].mean().to_dict()

In [47]:
df['encoded']= df['Soft_drink_preference'].map(mean)

In [49]:
df

   age Soft_drink_preference  encoded
0   25                  cock     24.0
1   42                 pepsi     36.5
2   37          mountain dew     37.0
3   19                  cock     24.0
4   31                 pepsi     36.5
5   28                  cock     24.0

In [51]:
# new we get the coveriance between age and encoded value , and get the relationship between them

df.corr(method= 'pearson')

/tmp/ipykernel_180/755516755.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method= 'pearson')

             age  encoded
age      1.00000  0.83753
encoded  0.83753  1.00000

# Q6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 20 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [61]:
data= {'sales_per_day': [1233,2100,4300,5600,3300,2300,4500,6700,7800,4500,5900,4300,3000,4000,4500,6600,4500,4500,8900,7800],
'sales_per_week': [88000,99000,67000,78000,98000,56000,78000,34555,89000,65000,34554,67000,69000,76000,88000,67000,78000,
                   98000,78000,90000]}

In [62]:
import pandas as pd
df=pd.DataFrame(data)

df.corr() # by default corr() function is selecting the pearson method

                sales_per_day  sales_per_week
sales_per_day        1.000000       -0.176625
sales_per_week      -0.176625        1.000000